body {
    font-size: 14px;
}

table td {
    word-break: normal;
    word-wrap: break-word;
}

table td, th {
    text-align: center;
    vertical-align: middle;
    min-width: 80px;
}

td {
    white-space: pre
}

pre {
    margin: 0;
}

.loading {
    background-color: white; /* Green background */
    border: none; /* Remove borders */
    color: #1e7e34; /* White text */
    padding: 12px 16px; /* Some padding */
}

