{% extends "layout.html" %}
{% block content %}
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-5 col-md-4 col-sm-4"></div>
        <div class="col-lg-2 col-md-4 col-sm-4">
            <select id="branch-selector" class="form-control">
                <option value="Master">Master</option>
                <option value="4.2">4.2</option>
                <option value="4.1">4.1</option>
            </select>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-4"></div>
    </div>
    <div style="margin-top: 30px"></div>
    <div class="row">
        <table id="build_cdm_table" class="table table-bordered table-sm table-hover">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock content %}



